body {
    margin: 0;
    padding: 0px 80px;
    font-family: Arial, Verdana, "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53", serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}

#github {
    position: absolute;
    top: 0;
    left: 0;
    width: 138px;
    height: 138px;
    display: block;
    background: transparent url(../fork.png) 0 0 no-repeat;
    text-indent: -9000px;
    z-index: 3;
}

h3 {
    margin: 10px;
    font-size: 25px;
    text-align: center;
}

#case-select {}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

li {
    display: inline-block;
}

#editor {
    width: 50%;
    height: 400px;
    border: 1px solid rgb(169, 169, 169);
}

#preview {
    display: inline-block;
    width: 50%;
    height: 400px;
    border: 1px solid rgb(169, 169, 169);
    border-left: none;
    vertical-align: top;
    position: relative;
}

.top-indicator,
.bottom-indicator {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}

.top-indicator {
    top: -20px;
}

.bottom-indicator {
    bottom: -20px;
}

#preview iframe {
    height: calc(100% - 2px);
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: white;
}

#preview .preview {
    height: 200px;
    width: 100%;
    position: relative;
}

#preview .top {
    border-bottom: 1px solid rgb(169, 169, 169);
}

#preview .loading-text {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#editor textarea {
    height: 100%;
    width: 100%;
    border: none;
}

.CodeMirror {
    height: 100% !important;
}
