body {
    margin: 0;
    padding: 40px;
}

#case-select {}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

li {
    display: inline-block;
}

#editor {
    width: 50%;
    height: 400px;
}

#preview {
    display: inline-block;
    width: 50%;
    height: 400px;
    border: 1px solid rgb(169, 169, 169);
    border-left: none;
    vertical-align: top;
    position: relative;
}

.top-indicator,
.bottom-indicator {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}

.top-indicator {
    top: -20px;
}

.bottom-indicator {
    bottom: -20px;
}

#preview iframe {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: white;
}

#preview .preview {
    height: 200px;
    width: 100%;
    position: relative;
}

#preview .top-iframe {
    border-bottom: 1px solid rgb(169, 169, 169);
}

#preview .loading-text {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#editor textarea {
    height: 100%;
    width: 100%;
}
